
/** {
  border: 1px solid green;
  box-sizing: border-box
}
*/

body {
  width: 80%;
  max-width: 1000px;
  margin: 1% auto;
  background: lightgray;
}

header {
  border-bottom: 5px solid black;
  text-align: center;
}

.container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2% 0;
}



.child1 {
  margin: 0 5%;
}

.container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 5px solid black;
  padding: 5%;
}

.child2 {
  /*border: 1px solid black;*/
  width: 200px;
  text-align: center;
}

.child2:hover {
  background: white;
  box-shadow: 0px 5px 35px 2px black;
  /*-ms-transform: scale(1.1,1.1); /* IE 9 */
  /*-webkit-transform: scale(1.1,1.1); /* Safari */
  transform: scale(1.1,1.1);
  transition: 0.25s;
}
