<html>
<head></head>
<body>
	<h1> CREATE NEW ITEM FOR {{restaurant.name}}: </h1>
	<form action="#" method = 'post'>

		<p>Name:</p>

		<input type ='text' size='30' name='name' placeholder='Name'>

		<p>Description:</p>

		<input type ='text' size='30' name='name' placeholder='Description'>

		<p>Price:</p>

		<input type ='text' size='30' name='name' placeholder='Price'>

		<br>
		<br>

		<input type='submit' value='Submit'>

		<br>
		<br>

		<a href = '{{ url_for('showRestaurants') }}'> Cancel </a>

	</form>
</body>